.gui {
  position: absolute;
  z-index: 999;
  inset: 0;
  display: grid;
  padding: 3rem;
  align-content: space-between;

  .start,
  .end {
    display: flex;
    justify-content: space-between;
  }

  .end {
    align-items: end;
  }

  @media print {
    display: none;
  }
}

aside.metadata {
  dl {
    display: grid;
    gap: 1rem;
  }
}

aside.actions {
  form {
    gap: 1rem;
  }
}
