.gui {
  position: absolute;
  z-index: 999;
  inset: 0;
  display: grid;
  padding: 3rem;
  align-content: space-between;
  pointer-events: none;

  .start,
  .end {
    display: flex;
    justify-content: space-between;
  }

  aside {
    pointer-events: auto;
  }

  .end {
    align-items: end;
  }

  @media print {
    display: none;
  }
}

aside.metadata {
  background-color: var(--color-primary);
  padding: 1rem;

  dl {
    display: grid;
    gap: 1rem;
  }
}

aside.actions {
  form {
    gap: 1rem;
  }
}
