.gui {
  position: absolute;
  z-index: 999;
  inset: 0;
  display: grid;
  padding: 3rem;
  align-content: space-between;
  pointer-events: none;

  .start,
  .end {
    display: flex;
    justify-content: space-between;
  }

  aside {
    pointer-events: auto;
  }

  .start {
    align-items: start;
  }

  .end {
    align-items: end;
  }

  @media print {
    display: none;
  }
}

aside.metadata {
  background-color: var(--color-primary);
  padding: 1rem;

  dl {
    display: grid;
    gap: 1rem;
  }
}

aside.controls {
  display: flex;
  gap: 1rem;

  .zoom {
    --border-radius: 0.25rem;

    display: grid;
    background-color: var(--color-on-primary);
    gap: 0.0625rem;
    border-radius: var(--border-radius);

    button {
      border: 0;
      padding: 0.5rem;
      background-color: var(--color-primary);

      &:first-child {
        border-start-start-radius: var(--border-radius);
        border-start-end-radius: var(--border-radius);
      }

      &:last-child {
        border-end-start-radius: var(--border-radius);
        border-end-end-radius: var(--border-radius);
      }

      &:hover {
        background-color: var(--color-on-primary-hover);
      }
    }
  }
}

aside.actions {
  form {
    gap: 1rem;
  }
}
