/** biome-ignore-all lint/correctness/noUnknownTypeSelector: view transitions */
:root {
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

[data-mode="light"] {
  color-scheme: light;
}

[data-mode="dark"] {
  color-scheme: dark;
}

html,
body {
  transition: all 125ms ease;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;

  min-height: 100dvh;
  display: grid;

  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

form,
form-group {
  display: grid;
}

form-group {
  &:has(input[type="radio"]) {
    display: flex;
    gap: 0.4rem;
  }
}

::view-transition-group(*) {
  animation-duration: 500ms;
  animation-timing-function: ease;
}

::view-transition-old(*):only-child,
::view-transition-new(*):only-child,
::view-transition-group(root) {
  animation-duration: 0ms;
}
