#map {
  background-color: #d9d9d9; /* Cities color in OSM tiles */
}

.leaflet-layer,
.leaflet-control-attribution {
  transition: filter 750ms ease;
}

[data-mode="dark"] {
  #map {
    background-color: #2d2d2d;
  }

  .leaflet-layer,
  .leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
  }
}
