:root {
	--theme: "light";
	color-scheme: light;

	@media (prefers-color-scheme: dark) {
		--theme: "dark";
		color-scheme: dark;
	}

	&:has([value="light"]:checked) {
		--theme: "light";
		color-scheme: light;
	}

	&:has([value="dark"]:checked) {
		--theme: "dark";
		color-scheme: dark;
	}
}

body {
	--contrast: #1a1a1a;
	--background: #fdfdfd;
	--grey1: #e6e6e6;
	--grey2: #606060;
	--code: #008000;

	@container style(--theme: "dark") {
		--contrast: #fdfdfd;
		--background: #1a1a1a;
		--grey1: #606060;
		--grey2: #e6e6e6;
		--code: #6dbf6d;
	}

	padding: 3.125rem;
	hyphens: auto;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	text-wrap: pretty;
	transition: all 125ms ease;

	color: var(--contrast);
	background-color: var(--background);

	.container {
		display: flex;
		justify-content: center;
		gap: 1.5rem;

		aside {
			order: 1;
			flex-shrink: 0;
			max-width: 15rem;
			margin-block-start: 2.5rem;

			nav {
				position: sticky;
				top: 2rem;
			}
		}

		main {
			max-width: 75ch;

			[id] {
				scroll-margin-top: 2rem;
			}
		}
	}
}

@media (max-width: 37.5rem) {
	body {
		padding: 1rem;

		.container {
			display: inherit;
		}
	}

	h1 {
		font-size: 1.8em;
	}
}

nav ul {
	list-style-type: none;
}

p {
	margin-block: 1em;
}

svg,
img {
	height: auto;
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 1.4em;
	text-wrap: balance;
}

h5,
h6 {
	font-size: 1em;
	font-style: italic;
}

h6 {
	font-weight: normal;
}

ol,
ul {
	padding-inline-start: 1.7em;
	margin-block-start: 1em;
}

li > :is(ol, ul) {
	margin-block-start: 0;
}

blockquote {
	margin-block: 1em;
	margin-inline-end: 1.7em;
	padding-inline-start: 1em;
	border-inline-start: 2px solid var(--grey1);
	color: var(--grey2);
}

code {
	margin: 0;
	hyphens: manual;
	white-space: pre-wrap;
	color: var(--code);
	font-family: monospace;
}

pre {
	margin-block: 1em;
	overflow: auto;
}

pre code {
	padding: 0;
	overflow: visible;
	overflow-wrap: normal;
}

b, i {
	color: var(--code);
}

hr {
	border: none;
	border-block-start: 1px solid var(--contrast);
	height: 1px;
	margin: 1em 0;
}

table {
	border-collapse: collapse;
	overflow-x: auto;
	font-variant-numeric: lining-nums tabular-nums;
	border-radius: 0.25rem;
	width: 100%;
	overflow: hidden;
	box-shadow: inset 0 0 0 1px var(--contrast);
}

table caption {
	margin-block-end: 0.75em;
}

tbody {
	margin-block-start: 0.5em;
	border-block: 1px solid var(--contrast);
}

th {
	border-block-start: 1px solid var(--contrast);
	padding-block: 0.25em;
	padding-inline: 0.5em;
}

td {
	border: 1px solid var(--contrast);
	padding: 0.5rem;
}

header {
	margin-block-end: 4rem;
	max-width: 25rem;
	margin-inline: auto;

	h1 {
		text-align: center;
	}
}

footer {
	margin-block-start: 4em;
	max-width: 25rem;
  margin-inline: auto;
	display: flex;
	justify-content: center;
}

li {
  margin-block-end: 1rem;
}

figure {
	border: 1px solid var(--contrast);
	margin: 0;
	border-radius: 0.25rem;
	display: grid;
	gap: 0.5rem;
	background-color: #ffffff;
	overflow: hidden;

	figcaption {
		background-color: var(--grey1);
		padding: 0.5rem;
		text-align: center;
	}
}
