name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  quality-gate:
    name: Run checks
    uses: ./.github/workflows/quality-gate.yml 
    with:
      branch: ${{ github.head_ref }}

  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout repository using git
        uses: actions/checkout@v5

      - name: Configuration de Pages
        uses: actions/configure-pages@v5

      - name: Artefact upload
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./public"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
